@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
/* styles.css */
@keyframes gentleFloat {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-gentleFloat {
    animation: gentleFloat 6s ease-in-out infinite;
  }
  .camera-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .close-button, .capture-button {
    background: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  